* {
    box-sizing: border-box;
}

html body {
    margin: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    margin: 0;
}

.header_-list {
    padding-left: 1em;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 217, 47, 0.659);
    margin: 0;
    height: auto;
    padding: 10px;
    list-style: none;
}

.nav__item a,
.nav__item a:visited {
    text-decoration: none;
    color: black;
}

.nav__item a:hover {
    color: blue;

}

.image_logo {
    width: 10%;
}


/* table */

.blueTable {
    border-collapse: collapse;
    border: 1px #ccc solid;
    color: rgb(77, 76, 76);
    text-align: center;
    margin: auto;
}

.blueTable th,
.blueTable td {
    padding: 20px;
}


.blueTable tr:nth-child(even) {
    background: #eee
}

.blueTable thead {
    background: blue;
}

.blueTable thead th {
    color: #FFF;
}

/* footer */

footer {
    background-color: blue;
    color: white;
    font-size: large;
    padding: 2.5em 0;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.social-list__item,
.header_-list__item {
    display: inline-block;
    list-style-type: none;
    justify-content: space-between;
    margin: 0 0.5em;
    width: 20px;
}


.header_-list__link,
.header_-list__link:visited {
    color: white;
}

.social-list__link,
.social-list__link:visited {
    color: white;
}


/* grid - image */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 10px;
}

.item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 16px;
    text-align: center;
}

section div img {
    width: 70%;
    height: auto;
}

section div img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

h2 {
    text-align: center;
}




/*responsive*/

@media screen and (max-width: 800px) {
    .grid-container {

        grid-template-columns: repeat(3, auto);
    }

}

@media screen and (max-width: 700px) {
    .grid-container {

        grid-template-columns: repeat(2, auto);
    }

    .blueTable th,
    .blueTable td {
        padding: 10px;
    }
    .image_logo{
        width: 100px;
    }

}

@media screen and (max-width: 500px) {
    .grid-container {

        grid-template-columns: auto;
    }
    .nav__list{
        flex-direction: column;
    }
    .nav__item{
        margin: 5px;;
    }
    .blueTable th,
    .blueTable td {
        padding: 5px;
    }

}