body {
    margin-bottom:50px;
}
.blueTable {
    border-collapse: collapse;
    border: 1px #ccc solid;
    color: rgb(77, 76, 76);
    text-align: center;
    margin: auto;
}

.blueTable td,
.blueTable th {
    padding: 5px;
}

.blueTable tr:nth-child(even) {
    background: #eee
}

.blueTable thead {
    background: blue;
}

.blueTable thead th {
    color: #FFF;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
    height: 50px;
}
 